@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}
@font-face {
    font-family: YuPearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.0/webfont/YuPearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.0/webfont/YuPearl-Regular.woff) format("woff");
  }

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.index{
    background-image: url('../images/background/bg1.png');
}
.guide{
    background-image: url('../images/background/guide.png');
}
.wakeup{
    background-image: url('../images/background/wakeup.png');
}
.question{
    background-image: url('../images/background/question.png');
}
.face{
    background-image: url('../images/background/face.png');
}
html, body{
    height: 100%;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: FakePearl-Regular;
}
.wrap{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.section{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.section1{
    width: 80%;
}
.section1{
    text-align: center;
}
.section1 img{
    width: 60%;
}

.section1 p:nth-child(2){
    width: 100%;
    /* font-family: 'Noto Sans TC'; */
    font-size: 5vw;
    color: #888888;
}
.section1 p:nth-child(4){
    font-size: 1.8vw;
    color: #888888;
    /* font-family: 'Noto Sans TC'; */
}
.section1 .arrow{
    width: 118px;
    height: 118px;
}

.section2{
    width: 80%;
    height: 60%;
}
.section2 blockquote{
    width: 66vw;
    font-size: 3.1vw;
    color: #888888;
    text-align: center;
}
.section2 p{
    width: 65vw;
    font-size: 2.2vw;
    color: #888888;
    text-align: center;
}
.section2 .goImg{
}

.section3{
    width: 75vw;
}
.section3 img{
    /* display: inline-block; */
    width: 20vw;
    text-align: center;
}
.section3 p{
    width: 100vw;
    font-size: 40px;
    color: #888888;
    text-align: center;
}
.section3 p:nth-child(3){
    font-size: 30px;
}
.section3 .arrow{
    width: 7vw;
}

.qSection{
    width: 70vw;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.qSection blockquote{
    font-size: 3.2vw;
    color: #888888;
    /* line-height: 2px; */
}
.qSection .imgBox{
}
.qSection .imgBox img{
    display: inline-block;
    cursor: pointer;
    width: 10vw;
}
.qSection img:nth-child(3){
    width: 5vw;
    cursor: pointer;
}
.result{
    height: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.result p{
    font-size: 4vw;
    color: #888888;
}
.result #mFace{
    width: 25vw;
}
.result .home{
    width: 5vw;
}
.result #mFace:hover{
    animation-name: widthWillGrow;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-iteration-count: infinite;
}

@keyframes widthWillGrow{
    from{
        width: 509px;
        height: 517px;
    }
    to{
        width: 800px;
        height: 517px;
    }
}

.loader-container {
    text-align: center;
    cursor: pointer;
  }
  
.loader-container > div {
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: #a7d1e4;
    height: 2.5vh;
    width: 0.4vw;
    margin: 0;
    -webkit-animation: load 3s ease-in-out infinite;
    animation: load 3s ease-in-out infinite;
}

.loader-container .rectangle-2 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    height: 2vh;
}

.loader-container .rectangle-3 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    height: 3vh;
}

.loader-container .rectangle-4 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    height: 4vh;
}

.loader-container .rectangle-5 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader-container .rectangle-6 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

  
@keyframes load {
    0%,
    100% {
        transform: scaleY(1);
        background: #bad7f2;
    }
    16.67% {
        transform: scaleY(3);
        background: #ff6d63;
    }
    33.33% {
        transform: scaleY(1);
        background: #807eff;
    }
    50% {
        transform: scaleY(3);
        background: hsl(59, 100%, 76%);
    }
    66.67% {
        transform: scaleY(1);
        background: #a0f8e5;
    }
    83.34% {
        transform: scaleY(3);
        background: #bad7f2;
    }
} 