@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.index{
    background-image: url('../images/background/bg1.png');
}
.guide{
    background-image: url('../images/background/guide.png');
}
.wakeup{
    background-image: url('../images/background/wakeup.png');
}
.question{
    background-image: url('../images/background/question.png');
}
.face{
    background-image: url('../images/background/face.png');
}
html, body{
    /* min-width: 1024px;  */
    /* min-height: 800px; */
    
    height: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wrap{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* overflow: hidden; */
}
.section{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.section1{
    width: 60%;
}
.section1{
    text-align: center;
}
.section1 img{
    width: 60%;
    /* height: 10%; */
    /* margin-top: 536px; */
}

.section1 p:nth-child(2){
    width: 100%;
    font-size: 120px;
    font-family: 'Noto Sans TC';
}
.section1 p:nth-child(4){
    font-size: 36px;
    font-family: 'Noto Sans TC';
}
.section1 .arrow{
    width: 118px;
    height: 118px;
}

.section2{
    width: 80%;
    height: 60%;
}
.section2 blockquote{
    font-size: 72px;
    color: #888888;
}
.section2 p{
    font-size: 48px;
    color: #888888;
}
.section2 .goImg{
}

.section3{
}
.section3 img{
    display: inline-block;
    text-align: center;
}
.section3 p{
    font-size: 72px;
    color: #888888;
    text-align: center;
}
.section3 .arrow{
    width: 150px;
    height: 150px;
}

.qSection{
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.qSection blockquote{
    font-size: 72px;
    color: #888888;
}
.qSection .imgBox{
}
.qSection .imgBox img{
    display: inline-block;
    width: 270px;
    height: 435px;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result p{
    /* width: 1300px; */
    font-size: 72px;
    color: #888888;
    text-align: center;
}
.result #mFace{
    /* margin-bottom: 100px; */
}
.result .home{
    /* margin-top: 250px; */
}

.result #mFace:hover{
    animation-name: widthWillGrow;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-iteration-count: infinite;
}

@keyframes widthWillGrow{
    from{
        width: 509px;
        height: 517px;
    }
    to{
        width: 800px;
        height: 517px;
    }
}